* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    background-color:gold;
    font-family: 'Amatic SC', cursive;
}

.main {
    background-color:orangered;
    display: flex;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px 1px rgb(0,0,0,0.6);
    flex-wrap: wrap;
}

/*предварительная разметка*/
/*Для того, чтобы видеть наши коменты*/
 .item {
    max-height: 265px;
    max-width: 490px;
    width: calc(94vw / 2 - 10px);
    height: calc(95vw / 2 / 16 * 9);
    background-color: saddlebrown;
    /*margin: 5px;*/
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.img_link:hover{
    opacity: 5;
    transform: scale(1.2) rotate(720deg);
    z-index: 10;
    box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.4);
}

.heading {
    font-size: 100px;
    text-align: center;
    width:100%;
    padding: 30px 0;
}
.img_link {
    display: block;
    opacity: 0.65;
    margin: 5px;
    transition: opacity 1s ease-in-out,transform 0.2s ease,box-shadow 0.3s ease-out,transform 3s;
}

.link-wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    -ms-align-item: center;
    align-items: center;
}

.author {
    color:rgb(235, 14, 14);
    font-size: 50px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

@media all and (max-width:768px){
    .item {
        max-height: initial;
        max-width: initial;
        width:95vw;
        height: calc(95vw / 16 * 9);
    }

    .img_link {
        margin: 5px 0;
    }
}

@media all and(min-width: 1200px) {
    .img_link:hover {
        opacity: 5;
        transform: scale(1.2) rotate(720deg);
        z-index: 10;
        box-shadow: 0 0 200px 30px rgba(0, 0, 0, 0.4);
    }
    .author{
        border-bottom:black;
    }
}